@import url("//cdn.web-fonts.ge/fonts/dejavu-sans-bold/css/dejavu-sans-bold.min.css");
body, html {
    height: 100%;
    font-family: "DejaVu Sans Bold", sans-serif;
    background-color: rgba(99, 213, 255, 0.7);
    }
.img{
    background-repeat: no-repeat;
    background-size: auto;
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.label{
    font-size: 20px;
    font-weight: 400;
}
#header{
    font-size: 40px;
    padding-right: 240px;
}
.responsive{
    padding: 5% 30%;
}
@media screen and (max-width: 1200px) {
.responsive {
    padding: 5%;
}
}
.shadow-lg {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.custom-select{
    border-radius: 15px;
}
.form-control{
    border-radius: 15px;
}
.btn btn-dark{
    border-radius: 15px;
}
